header.header 
  nav.header-nav 
    ul.header-nav-box 
      li.header-nav-item
        a.header-nav-link(ui-sref="public.index") Home
      li.header-nav-item
        a.header-nav-link(ui-sref="public.animation") Animation example
      li.header-nav-item
        a.header-nav-link(ui-sref="public.simple") Simple example