header.header.white
  nav.header-nav
    ul.header-nav-box
      li.header-nav-item
        a.header-nav-link(ui-sref="public.index" ui-sref-active="is-active") Home
      li.header-nav-item
        a.header-nav-link(ui-sref="public.animation" ui-sref-active="is-active") Animation example
      li.header-nav-item
        a.header-nav-link(ui-sref="public.simple" ui-sref-active="is-active") Simple example
      li.header-nav-item
        a.header-nav-link(ui-sref="public.fix" ui-sref-active="is-active") Fix example