html(ng-app="app")
  head
    title Angular Multi Gallery
    meta(charset="utf8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=none')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css')
    <!-- inject:css -->
    <!-- endinject -->
        
  body(ui-view="")
    <!-- inject:js -->
    <!-- endinject -->