html(ng-app="app")
    head
        title Angular Multi Gallery
        meta(charset="utf8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=none')
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-controller="AppController")
        h1 Gallery example
        div.gallery-wrapper(gallery)
            div.gallery-slider
                div.gallery-item(gallery-repeater="item in gallery" ng-style="{'background-color':item.color}")
                    div.gallery-item-content()
                        h1() {{item.text}}
                        h3() {{item._$UUID}}

            button.action-button.next(gallery-button="next") next
            button.action-button.prev(gallery-button="prev") prev
            button.action-button.next.animate(gallery-button="animateNext") Animate next
            button.action-button.prev.animate(gallery-button="animatePrev") Animate prev

        button(ng-click="add()") Add
        <!-- inject:js -->
        <!-- endinject -->